<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Exercise</title>
  <link th:href="@{css/styles.css}" rel="stylesheet" />

</head>
<body style="background-color: #C2DEDC;">

<!--Insert NavBar Fragment-->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- success message -->
<!--<div th:if="${param.success}" class="">-->
<!--  <div class="grid place-items-center">-->
<!--    <p>-->
<!--      You've successfully added an Exercise!-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
<h1 class="grid place-items-center mt-5 mb-5 heading-style">Exercises</h1>

<!-- Show Exercises-->
<div class="grid place-items-center">
  <div class="grid grid-cols-4">
    <div th:each="exercise : ${exercises}" class="border-black rounded-md mt-2 mr-2 text-center  card">
      <div class="card-inner">
        <div class="card-front" style="background-color: #116A7B">
          <p th:text="${exercise.name}" class=" font-semibold text-lg" style="color: #CDC2AE"></p>
        </div>
        <div class="card-back">
          <p th:text="${exercise.description}" class="text-black"></p>
        </div>
      </div>
    </div>
  </div>

</div>


<!--  Add Exercise Form -->
<div class="grid place-items-center">
  <div class="border-2 border-black p-5 rounded-md mt-5" style="background-color: #ECE5C7">
    <form th:action="@{/exercise}" method="post" th:object="${exercise}">
      <h1 class="font-sans text-center text-lg mb-3">Add Exercise</h1>
      <div class="">
        <label class="" for="name">Exercise Name</label>:
        <input id="name" class="mb-3 outline-none" th:field="*{name}"
               required autofocus="autofocus" />
      </div>
      <div class="">
        <label class="" for="description">Description</label>:
        <input id="description" class="mb-3 outline-none" th:field="*{description}"
               required autofocus="autofocus" />
      </div>
      <div class="">
        <label class="" for="exerciseCategory">Category</label>:
        <select th:field="*{exerciseCategory}" id="exerciseCategory">
          <option value="0"></option>
          <option th:each="exerciseCategory : ${categories}" th:value="${exerciseCategory.getName()}" th:text="${exerciseCategory.getName()}"></option>
        </select>
      </div>

      <div class="text-center mt-5">
        <button type="submit" class="text-white bg-green-800 rounded-md px-2 py-1.5" style="background-color: #116A7B">Add Exercise</button>
      </div>
    </form>
  </div>
</div>

<script>
  const cardInners = document.querySelectorAll('.card-inner');

  cardInners.forEach(cardInner => {
    cardInner.addEventListener('click', () => {
      cardInner.parentElement.classList.toggle('card-flipped');
    });
  });



</script>
<!--Create Footer-->

</body>
</html>